# ── Database ──────────────────────────────────────────────────────────────────
MYSQL_ROOT_PASSWORD=root

# ── AWS S3 ────────────────────────────────────────────────────────────────────
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=ap-southeast-1
S3_BUCKET=digicam-images

# ── Google Cloud Vision ───────────────────────────────────────────────────────
GOOGLE_VISION_API_KEY=your_google_vision_api_key

# ── Stripe ────────────────────────────────────────────────────────────────────
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
PAYMENT_SUCCESS_URL=http://localhost/payment/success
PAYMENT_CANCEL_URL=http://localhost/payment/cancel

# ── External Outsystems Services ─────────────────────────────────────────────
USER_SERVICE_URL=https://personal-vsev7crp.outsystemscloud.com/User/rest/User
AUCTION_SERVICE_URL=https://personal-vsev7crp.outsystemscloud.com/Auction/rest/Auction

# ── Telegram ──────────────────────────────────────────────────────────────────
# TELEGRAM_BOT_TOKEN=8745556745:AAFxB9J8c7CumI2KP2ZfnRkCrfYCka5mYcA
# TELEGRAM_UPDATE_USER_URL=https://personal-vsev7crp.outsystemscloud.com/User/rest/User/Use